<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Registrierung bestätigen</title>
</head>
<body>
	<style type="text/css">
		a:hover { color: #ff8418 !important; text-decoration: underline; }
		a:link { color: #475678; text-decoration: underline; }
		a:visited {color: #475678; text-decoration: underline; }
	</style>
	<center>
		<table cellspacing="0" cellpadding="0" border="0" id="outerTable">
			<tr>
				<td id="content">
					<h1>Hallo {frontendUser.name}!</h1>
					<p>Du hast dich angemeldet. Du müsstest jetzt bitte noch deine E-Mail bestätigen:</p>
					<p><f:link.action pageUid="132" action="confirm" controller="FrontendUser" extensionName="registerBase" pluginName="Form" arguments="{authCode: frontendUser.mailHash}" absolute="true" noCacheHash="true">bestätigen</f:link.action></p>

					<p>iSi GmbH</p>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>