<f:form.validationResults for="{for}">
	<ul class="errors">
		<f:for each="{validationResults.subResults}" as="propertyResult" key="propertyName">

			<f:if condition="{propertyResult.errors}">
				<li>
					<f:if condition="{f:translate(key:'{for}.{propertyName}')}">
						<f:then>
							<f:translate key="{for}.{propertyName}" />:
						</f:then>
						<f:else>
							{for}.{propertyName}:
						</f:else>
					</f:if>

					<ul class="errors_{for}_{propertyName}">
						<f:for each="{propertyResult.errors}" as="errorDetail">
							<f:if condition="{f:translate(key:'error.{errorDetail.code}')}">
								<f:then>
									<li><f:translate key="error.{errorDetail.code}" arguments="{errorDetail.arguments}" /></li>
								</f:then>
								<f:else>
									<li>{errorDetail.message} error.{errorDetail.code}</li>
								</f:else>
							</f:if>
						</f:for>
					</ul>
				</li>
			</f:if>

		</f:for>
	</ul>
</f:form.validationResults>