{namespace r=Tx_RegisterBase_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<p>{updateMessage}</p>

	<f:form action="update" name="frontendUser" object="{frontendUser}" >
		<table>
			<tr>
				<td><label for="firstName">Vorname:</label></td>
				<td><f:form.textfield property="firstName" id="firstName" /></td>
			</tr>
			<tr>
				<td><label for="lastName">Nachname:</label></td>
				<td><f:form.textfield property="lastName" id="lastName" /></td>
			</tr>
			<tr>
				<td><label for="email">E-Mail*:</label></td>
				<td>{frontendUser.email} (E-Mail kann nicht bearbeitet werden)</td>
			</tr>
			<tr>
				<td><label for="company">Firmenname:</label></td>
				<td><f:form.textfield property="company" id="company" /></td>
			</tr>
			<tr>
				<td><label for="address">Strasse:</label></td>
				<td><f:form.textfield property="address" id="address" /></td>
			</tr>
			<tr>
				<td><label for="zip">PLZ:</label></td>
				<td><f:form.textfield property="zip" id="zip" /></td>
			</tr>
			<tr>
				<td><label for="city">Ort:</label></td>
				<td><f:form.textfield property="city" id="city" /></td>
			</tr>
			<tr>
				<td><label for="country">Land:</label></td>
				<td><f:form.textfield property="country" id="country" /></td>
			</tr>
			<tr>
				<td><label for="telephone">Telefon:</label></td>
				<td><f:form.textfield property="telephone" id="telephone" /></td>
			</tr>
		</table>

		<table>
			<f:for each="{categories}" as="category" iteration="categoryIterator">
				<tr>
					<td width="90" style="text-align: right;">
						<input
							id="category{category.uid}"
							type="checkbox"
							name="tx_registerbase_form[frontendUser][categories][{category.uid}]"
							value="{category.uid}"
							style="margin: 0;"
							{f:if(condition: '{r:userHasCategory(user: frontendUser, category: category)}', then: 'CHECKED=CHECKED', else: '')}
						/>
					</td>
					<td><label for="category{category.uid}" style="margin: 2px 0 0 5px;">{category.name}</label></td>
				</tr>
			</f:for>
		</table>
		<br />

		<f:form.submit value="Speichern"  style="margin-left: 73px;" />
	</f:form>

</f:section>