{namespace r=Tx_RegisterBase_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:form action="update" name="frontendUser" object="{frontendUser}" >
		<f:render partial="FrontendUser/FormFields" arguments="{frontendUser: frontendUser}" />
		<table>
			<f:for each="{categories}" as="category" iteration="categoryIterator">
				<tr>
					<td width="90" style="text-align: right;">
						<input
							id="category{category.uid}"
							type="checkbox"
							name="tx_registerbase_form[newFrontendUser][categories][{category.uid}]"
							value="{category.uid}"
							style="margin: 0;"
							{f:if(condition: '{r:userHasCategory(user: frontendUser, category: category)}', then: 'CHECKED=CHECKED', else: '')}
						/>
					</td>
					<td><label for="category{category.uid}" style="margin: 2px 0 0 5px;">{category.name}</label></td>
				</tr>
			</f:for>
		</table>
		<br />

		<f:form.submit value="Speichern"  style="margin-left: 73px;" />
	</f:form>

</f:section>