{namespace r=TYPO3\RegisterBase\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<p>{updateMessage}</p>

	<f:form action="update" name="frontendUser" object="{frontendUser}" >
		<table>
			<tr>
				<td><label for="username">Benutzername:</label></td>
				<td><f:form.textfield property="username" id="username" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'frontendUser.username'}" />
			<tr>
				<td><label for="firstName">Vorname:</label></td>
				<td><f:form.textfield property="firstName" id="firstName" /></td>
			</tr>
			<tr>
				<td><label for="lastName">Nachname:</label></td>
				<td><f:form.textfield property="lastName" id="lastName" /></td>
			</tr>
			<tr>
				<td><label for="email">E-Mail*:</label></td>
				<td><f:form.textfield property="email" id="email" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'frontendUser.email'}" />
			<tr>
				<td><label for="company">Firmenname:</label></td>
				<td><f:form.textfield property="company" id="company" /></td>
			</tr>
			<tr>
				<td><label for="address">Strasse:</label></td>
				<td><f:form.textfield property="address" id="address" /></td>
			</tr>
			<tr>
				<td><label for="zip">PLZ:</label></td>
				<td><f:form.textfield property="zip" id="zip" /></td>
			</tr>
			<tr>
				<td><label for="city">Ort:</label></td>
				<td><f:form.textfield property="city" id="city" /></td>
			</tr>
			<tr>
				<td><label for="country">Land:</label></td>
				<td><f:form.textfield property="country" id="country" /></td>
			</tr>
			<tr>
				<td><label for="telephone">Telefon:</label></td>
				<td><f:form.textfield property="telephone" id="telephone" /></td>
			</tr>
		</table>

		<p class="red">Ich nutze iSi für:</p>
		<table class="hpcheck">
			<f:for each="{frontendUserGroups}" as="frontendUserGroup">
				<tr>
					<td colspan="2">
						<input
							id="usergroup{frontendUserGroup.uid}"
							type="checkbox"
							name="tx_registerbase_edit[frontendUser][usergroup][{frontendUserGroup.uid}]"
							value="{frontendUserGroup.uid}"
							{f:if(condition: '{r:userHasUserGroup(user: frontendUser, frontendUserGroup: frontendUserGroup)}', then: 'checked="checked"', else: '')}
						/>
					<label for="usergroup{frontendUserGroup.uid}">{frontendUserGroup.title}</label></td>
				</tr>
			</f:for>
		</table>
		<br />

		<f:form.submit value="Speichern"  style="margin-left: 73px;" />
	</f:form>

	<h2>Um Ihr Passwort zu ändern verwenden Sie bitte folgendes Formular:</h2>

	<f:form action="update" name="frontendUser" object="{frontendUser}" >
		<table>
			<tr>
				<td><label for="password">neues Passwort:</label></td>
				<td><f:form.textfield name="frontendUser[password]" id="password" /></td>
			</tr>
		</table>

		<f:form.submit value="Speichern" />
	</f:form>

</f:section>