<f:layout name="Default" />

<f:section name="main">

	<f:render partial="FormErrors" />

	<f:form action="create" name="newFrontendUser" object="{newFrontendUser}">
		<table>
			<tr>
				<td><label for="username">Benutzername:</label></td>
				<td><f:form.textfield property="username" id="username" /></td>
			</tr>
			<tr>
				<td><label for="password">Passwort:</label></td>
				<td><f:form.textfield property="password" id="password" /></td>
			</tr>
			<tr>
				<td><label for="firstName">Vorname:</label></td>
				<td><f:form.textfield property="firstName" id="firstName" /></td>
			</tr>
			<tr>
				<td><label for="lastName">Nachname:</label></td>
				<td><f:form.textfield property="lastName" id="lastName" /></td>
			</tr>
			<tr>
				<td><label for="email">E-Mail*:</label></td>
				<td><f:form.textfield property="email" id="email" /></td>
			</tr>
			<tr>
				<td><label for="company">Firmenname:</label></td>
				<td><f:form.textfield property="company" id="company" /></td>
			</tr>
			<tr>
				<td><label for="address">Strasse:</label></td>
				<td><f:form.textfield property="address" id="address" /></td>
			</tr>
			<tr>
				<td><label for="zip">PLZ:</label></td>
				<td><f:form.textfield property="zip" id="zip" /></td>
			</tr>
			<tr>
				<td><label for="city">Ort:</label></td>
				<td><f:form.textfield property="city" id="city" /></td>
			</tr>
			<tr>
				<td><label for="country">Land:</label></td>
				<td><f:form.textfield property="country" id="country" /></td>
			</tr>
			<tr>
				<td><label for="telephone">Telefon:</label></td>
				<td><f:form.textfield property="telephone" id="telephone" /></td>
			</tr>
			<tr>
				<td><f:form.checkbox value="1" name="newFrontendUser[gtc]" id="gtc" /></td>
				<td><label for="gtc">AGB gelesen und akzeptiert*</label></td>
			</tr>
		</table>

		<table>
			<f:for each="{frontendUserGroups}" as="frontendUserGroup">
				<tr>
					<td>
						<input id="frontendUserGroup{frontendUserGroup.uid}" type="checkbox" name="tx_registerbase_form[newFrontendUser][usergroup][{frontendUserGroup.uid}]" value="{frontendUserGroup.uid}">
					</td>
					<td><label for="frontendUserGroup{frontendUserGroup.uid}">{frontendUserGroup.title}</label></td>
				</tr>
			</f:for>
		</table>

		<br />

		<f:form.submit value="Jetzt Registrieren" />
	</f:form>

</f:section>