<f:layout name="Default" />

<f:section name="main">

	<p><f:translate key="new.info1" /></p>
	<p><f:translate key="new.info2" /></p>

	<f:form action="create" name="newFrontendUser" object="{newFrontendUser}">

		<table>
			<tr>
				<td><label for="username"><f:translate key="newFrontendUser.username" />*:</label></td>
				<td><f:form.textfield property="username" id="username" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.username'}" />
			<tr>
				<td><label for="password"><f:translate key="newFrontendUser.password" />*:</label></td>
				<td><f:form.textfield property="password" id="password" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.password'}" />
			<tr>
				<td><label for="firstName"><f:translate key="newFrontendUser.firstName" />:</label></td>
				<td><f:form.textfield property="firstName" id="firstName" /></td>
			</tr>
			<tr>
				<td><label for="lastName"><f:translate key="newFrontendUser.lastName" />:</label></td>
				<td><f:form.textfield property="lastName" id="lastName" /></td>
			</tr>
			<tr>
				<td><label for="email"><f:translate key="newFrontendUser.email" />*:</label></td>
				<td><f:form.textfield property="email" id="email" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.email'}" />
			<tr>
				<td><label for="company"><f:translate key="newFrontendUser.company" />:</label></td>
				<td><f:form.textfield property="company" id="company" /></td>
			</tr>
			<tr>
				<td><label for="address"><f:translate key="newFrontendUser.address" />:</label></td>
				<td><f:form.textfield property="address" id="address" /></td>
			</tr>
			<tr>
				<td><label for="zip"><f:translate key="newFrontendUser.zip" />:</label></td>
				<td><f:form.textfield property="zip" id="zip" /></td>
			</tr>
			<tr>
				<td><label for="city"><f:translate key="newFrontendUser.city" />:</label></td>
				<td><f:form.textfield property="city" id="city" /></td>
			</tr>
			<tr>
				<td><label for="country"><f:translate key="newFrontendUser.country" />*:</label></td>
				<td><f:form.textfield property="country" id="country" /></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.country'}" />
			<tr>
				<td><label for="telephone"><f:translate key="newFrontendUser.telephone" />:</label></td>
				<td><f:form.textfield property="telephone" id="telephone" /></td>
			</tr>
			<tr>
				<td><f:form.checkbox property="gtc" id="gtc" value="1" /></td>
				<td><label for="gtc"><f:translate key="newFrontendUser.gtc" />*</label></td>
			</tr>
			<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.gtc'}" />
		</table>

		<p class="red"><f:translate key="new.groupInfo" /></p>
		<table class="hpcheck">
			<f:for each="{frontendUserGroups}" as="frontendUserGroup">
				<tr>
					<td colspan="2">
						<input id="frontendUserGroup{frontendUserGroup.uid}" type="checkbox" name="tx_registerbase_form[newFrontendUser][usergroup][{frontendUserGroup.uid}]" value="{frontendUserGroup.uid}">
					<label for="frontendUserGroup{frontendUserGroup.uid}">{frontendUserGroup.title}</label></td>
				</tr>
			</f:for>
		</table>
		<f:render partial="FormErrorFor" arguments="{for: 'newFrontendUser.usergroup'}" />

		<br />

		<button type="submit"><f:translate key="new.submit" /></button>
	</f:form>

</f:section>