<f:layout name="Default" />

<f:section name="main">

	<f:render partial="FormErrors" />

	<f:form action="create" name="newFrontendUser" object="{newFrontendUser}">
		<f:render partial="FrontendUser/FormFields" />

		<table>
			<tr>
				<td><label for="gtc">Agb gelesen und akzeptiert*:</label></td>
				<td><f:form.checkbox value="1" name="newFrontendUser[gtc]" id="gtc" /> Ich stimme der Speicherung, Verarbeitung und Übermittlung meiner personenbezogenen Daten aus dieser Bestellung, sowie der Kontaktaufnahme per Telefon, Fax, SMS oder eMail, auch durch Automaten, zu Informations- und Werbezwecken gegen jederzeitigen Widerruf zu. Bezugsabmeldung nur zum Ende des vereinbarten Belieferungszeitraumes bei vorausgehender sechswöchiger Kündigungsfrist. Gerichtsstand ist Wien.</td>
			</tr>
		</table>

		<table>
			<f:for each="{categories}" as="category" iteration="categoryIterator">
				<tr>
					<td>
						<input id="category{category.uid}" type="checkbox" name="tx_registerbase_form[newFrontendUser][categories][{category.uid}]" value="{category.uid}">
					</td>
					<td><label for="category{category.uid}">{category.name}</label></td>
				</tr>
			</f:for>
		</table>

		<f:form.submit value="Anmelden" />
	</f:form>

</f:section>