<table>
	<tr>
		<td><label for="firstName">Vorname:</label></td>
		<td><f:form.textfield property="firstName" id="firstName" /></td>
	</tr>
	<tr>
		<td><label for="lastName">Nachname:</label></td>
		<td><f:form.textfield property="lastName" id="lastName" /></td>
	</tr>
	<tr>
		<td><label for="email">E-Mail*:</label></td>
		<td><f:form.textfield property="email" id="email" /></td>
	</tr>
	<tr>
		<td><label for="company">Firmenname:</label></td>
		<td><f:form.textfield property="company" id="company" /></td>
	</tr>
	<tr>
		<td><label for="address">Strasse:</label></td>
		<td><f:form.textfield property="address" id="address" /></td>
	</tr>
	<tr>
		<td><label for="zip">PLZ:</label></td>
		<td><f:form.textfield property="zip" id="zip" /></td>
	</tr>
	<tr>
		<td><label for="city">Ort:</label></td>
		<td><f:form.textfield property="city" id="city" /></td>
	</tr>
	<tr>
		<td><label for="country">Land:</label></td>
		<td><f:form.textfield property="country" id="country" /></td>
	</tr>
	<tr>
		<td><label for="telephone">Telefon:</label></td>
		<td><f:form.textfield property="telephone" id="telephone" /></td>
	</tr>
</table>